<h1> Are you sure you want to {{message}} ? </h1>
<form>
  <input type="text" value="{{littleLegend.name}}" placeholder="Enter Little Legend name" required> <br>
  <input type="type" value="{{littleLegend.photo}}" placeholder="Enter photo URL" required> <br>
  <textarea type="text" placeholder="Enter description Here" required>{{littleLegend.description}}</textarea> <br>
  <select required id="egg">
    {{#each options}} <option value="{{this.name}}">{{this.name}}</option> {{/each}}
  </select>
  <input type="type" value="{{littleLegend.price}}" placeholder="Enter Price" required id="price">
  <input type="type" value="{{littleLegend.stock}}" placeholder="Enter Stock Count" required id="stock">
  <br>
  <input type="type" placeholder="Enter Administrator Password" required> <br>
  <button class="app-button" type="submit"> <img src="/images/submit.svg" alt="submit"> </button>
</form>